body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#editor-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  display: flex;
}

#code-editor {
  width: 50%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 16px;
  background-color: #354655;
  color: grey;
}

#divider {
  width: 10px;
  cursor: ew-resize;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grabber-icon {
  width: 10px;
  height: 100%;
  cursor: ew-resize;
  background: url("https://img.icons8.com/material-rounded/24/000000/menu-2.png")
    center center no-repeat;
  background-size: contain;
}

#preview-container {
  flex: 1;
  overflow-y: auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8dee7;
  padding: 0 20px;
}

.fullscreen-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url("https://img.icons8.com/material-rounded/24/000000/full-screen.png")
  center center no-repeat;
  background-size: contain;
}